<div class="footer">
  <div class="footer-content">
    <span class="contact-us">contact us?</span>
    <div class="footer-links">
      <a href="">join our team</a>
      <a href="">general questions</a>
      <a href="">work with us</a>
    </div>
  </div>
  <div class="footer-bottom">
    <a href="" class="back-home">back to home</a>
    <div class="lang-switch">
      <a href="" class="active">EN</a>
      <a href="">JP</a>
    </div>
  </div>
</div>
