<div class="home-container">
  <div class="home-title">
    <h1 class="home-title-text">hi! this is relativ</h1>
    <%= image_tag "star-small.svg", id: "home-star-small" %>
  </div>
  <p class="home-subtitle">What brings you here today?</p>
  <div class="home-tags">
    <div class="tag-home">design</div>
    <div class="tag-home">data science</div>
    <div class="tag-home">strategy</div>
    <div class="tag-home">ecommerce</div>
    <div class="tag-home">marketing</div>
    <div class="tag-home">loyalty programs</div>
    <div class="tag-home">user experience</div>
    <div class="tag-home">brand expansion</div>
  </div>

  <div class="home-footer">
    <a href="" class="info-link">about us</a>
    <a href="" class="info-link">contact us</a>
  </div>
  <div class="lang-switch">
    <a href="" class="active">EN</a>
    <a href="">JP</a>
  </div>
</div>

<%= image_tag "star-large.svg", id: "home-star-large" %>

<%= image_tag "r-large.svg", id: "r-large" %>
