<div class="home-container">
  <h1 class="home-title">hi! this is relativ</h1>
  <p class="home-subtitle">What brings you here today?</p>
  <div class="home-tags">
    <div class="tag-home">design</div>
    <div class="tag-home">data science</div>
    <div class="tag-home">strategy</div>
    <div class="tag-home">ecommerce</div>
    <div class="tag-home">marketing</div>
    <div class="tag-home">loyalty programs</div>
    <div class="tag-home">user experience</div>
    <div class="tag-home">brand expansion</div>
  </div>

  <div class="home-footer">
    <a href="" class="info-link">about us</a>
    <a href="" class="info-link">contact us</a>
  </div>
  <div class="lang-switch">
    <a href="" class="active">EN</a>
    <a href="">JP</a>
  </div>
</div>
