.lang-switch {
  display: flex;
  a {
    font-size: 16px;
    text-decoration: none;
    background-color: $light-gray;
    padding: 6px 10px;
    color: $gray;
    letter-spacing: 0.24px;
    font-variant: small-caps;
    font-weight: bold;
    &.active {
      background-color: $white;
    }
  }
}

.info-link {
  border: 2px solid $gray;
  padding: 4px 28px;
  border-radius: 30px;
  margin: 10px;
  font-size: 23px;
}
