.navbar-relativ {
  justify-content: space-between;
  background: none;
}

.navbar-relativ .navbar-collapse {
  flex-grow: 0;
}

.nav-logo {
  width: 140px;
  height: 50px;
}

.nav-container {
  width: 1000px;
  margin: auto;
}
